<html>
    <%- include('./partials/head.ejs')  %> 
    <body>
        
        <%- include('./partials/nav.ejs')  %> 

        <div class="about content">
            <h2>About Us</h2>
            <p>My name is Rob.</p>
            <p>I am taking a great course on Node.</p>
            <p>The course is called "Node.js Crash-Course"</p>
            
        </div>
        <%- include('./partials/footer.ejs')  %> 
    </body>
</html>